@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import 'src/null.scss';
@import 'src/constants.scss';

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  color: black;
}

.content {
  position: relative;
  top: 80px;
}

@media (max-width: $mobileWidth) {
  .content {
    top: 50px;
  }
}
